* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --primary: #ff3700;
}

body {
  background: #000;
  font-family: 'Manrope', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}
